/* Initial CSS */
body {
  margin: 10px;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
}

header, main {
  text-align: center;
}

/* General Gameboard CSS */
#gameboard {
  display: inline-block;
  width: 600px;
  height: 1100px;
  border: lightgray 1px dashed;
}

.hide-answer-row {
  height: 7%;
  margin: 1.45vh;
  /* Brick pattern provided by Tab Atkins Jr. from CSS3 Patterns Gallery*/
  background-color: silver;
  background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
  linear-gradient(155deg, #d00 23px, transparent 23px),
  linear-gradient(335deg, #b00 23px, transparent 23px),
  linear-gradient(155deg, #d00 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.answer-row {
  height: 7%;
  margin: 1.45vh;
  display: none;
}

.answer-spot {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: red 1px dashed;
  margin: 0 10px;
  margin-top: 2%;
}

.row {
  height: 7%;
  margin: 1.45vh;
  background-color: lightgray;
}

.current {
  background-color: pink;
}

.winner {
  background-color: lightgreen;
}

.row-el {
  height: 75%;
  margin: 1%;
  display: inline-block;
  vertical-align: middle;
}

/* Number CSS */
.answer-spots {
  height: 100%;
  vertical-align: center;
  line-height: 100%;
}

/* Spot CSS */
.spots {
  width: 80%;
  padding: .5vw .5vh;
}

.spot {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: white 1px dashed;
  margin: 5px 10px;
  /* margin: auto; */
}

/* Checker CSS */
.checkers {
  width: 10%;
}

/* Colors */
.colors {
  display: none;
}

.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: outset;
  border-width: 3px;
  margin: 0 6px;
}

.color:hover {
  cursor: pointer;
}

.black {
  background-color: #000000;
  border-color: #1A1A1A;
}

.purple {
  background-color: #7447D1;
  border-color: #9370DB;
}

.blue {
  background-color: #0000FF;
  border-color: #3333FF;
}

.green {
  background-color: #00CD66;
  border-color: #01FF7F;
}

.yellow {
  background-color: #EEEE00;
  border-color: #FFFF22;
}

.orange {
  background-color: #EE9A00;
  border-color: #FFB122;
}

.red {
  background-color: #FF0000;
  border-color: #FF3333;
}

.white {
  background-color: #FFFFFF;
  border-color: #E6E6E6
}

/* Buttons */
.btn-start, .btn-guess, .btn-clear, .btn-restart {
  border-top: 1px solid #99badd;
  background: #99badd;
  padding: 10px 15px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: white;
  font-size: 12px;
  text-decoration: none;
  vertical-align: middle;
}

.btn-start {
  font-size: 15px;
  padding: 20px 40px;
}

.btn-guess {
  display: none;
}

.btn-clear {
  display: none;
}

.btn-restart {
  display: none;
}

.btn-start:hover, .btn-guess:hover, .btn-clear:hover, .btn-restart:hover {
  background: white;
  color: #99badd;
}

.btn-start:active, .btn-guess:active, .btn-guess:active, .btn-guess:active, .btn-guess:focus {
  border-top-color: #99badd;
  background: #99badd;
}

.btn-guess:disabled {
  border-top-color: lightgray;
  background: lightgray;
  color: gray;
}
