/* Initial CSS */
body {
  margin: 0px;
  padding: 0px;
}

header, main {
  text-align: center;
}

/* General Gameboard CSS */
#gameboard {
  display: inline-block;
  width: 600px;
  height: 1100px;
  border: lightgray 1px dashed;
}

.hide-answer-row {
  height: 7%;
  background-color: green;
  margin: 1.45vh;
}

.answer-row {
  height: 7%;
  margin: 1.45vh;
  display: none;
}

.answer-spot {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: red 1px dashed;
  margin: 0 10px;
  margin-top: 2%;
}

.row {
  height: 7%;
  background-color: pink;
  margin: 1.45vh;
}

.row-el {
  height: 75%;
  margin: 1%;
  display: inline-block;
  /* border: black 1px dashed; */
  vertical-align: middle;
}

/* Number CSS */
.answer-spots {
  height: 100%;
  vertical-align: center;
  line-height: 100%;
}

/* Spot CSS */
.spots {
  width: 80%;
  padding: .5vw .5vh;
}

.spot {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: red 1px dashed;
  margin: 5px 10px;
  /* margin: auto; */
}

/* Checker CSS */
.checkers {
  width: 10%;
}


/* Colors */
.colors {
  display: none;
}

.color {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: red 1px dashed;
}

.color:hover {
  cursor: pointer;
}

/* Buttons */
.btn-start {
  border-top: 1px solid #99badd;
  background: #6789ab;
  background: -webkit-gradient(linear, left top, left bottom, from(#99badd), to(#6789ab));
  background: -webkit-linear-gradient(top, #99badd, #6789ab);
  background: -moz-linear-gradient(top, #99badd, #6789ab);
  background: -ms-linear-gradient(top, #99badd, #6789ab);
  background: -o-linear-gradient(top, #99badd, #6789ab);
  padding: 20px 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  /* -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0; */
  /* text-shadow: rgba(0,0,0,.4) 0 1px 0; */
  color: #ffffff;
  font-size: 15px;
  /* font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif; */
  text-decoration: none;
  vertical-align: middle;
}

.btn-start:hover {
  /* border-top-color: #ffffff; */
  background: #ffffff;
  color: #99badd;
}

.btn-start:active {
  border-top-color: #99badd;
  background: #99badd;
}


.btn-guess {
  display: none;
}

.btn-clear {
  display: none;
}

.btn-restart {
  display: none;
}
